/*  color switcher start */
#sidebarmain {
	float: left;
	width: 250px;
	position: fixed;
	z-index: 99999;
	left: -250px;
	top: 5%;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
#sidebarmain li {
	list-style-type: none !important;
}
#sidebarmain * {
	outline: none;
}
#sidebarmain.sidebarmain {
	left: 0px;
}
#sidebar {
	float: left;
	width: 100%;
	padding: 0px 0 0 0;
	position: relative;
	z-index: 40;
	background: #f3f3f3;
	border-radius: 0 4px 4px 0;
	box-shadow: 0 0 3px rgba(0,0,0,0.4);
}
.rowside {
	display: block;
	float: left;
	width: 100%;
	margin-bottom: 9px;
	text-align: left;
}
.switcher-inn{
	padding: 0px 20px;
	float: left;
	width: 100%;
}
.rowside header {
	float: left;
	width: 100%;
	padding: 10px 0;
	margin-bottom: 15px;
	border-top: 1px solid #ccc;
	box-shadow: 0 0 2px rgba(0,0,0,0.2);
	border-bottom: 1px solid #ccc;
	position: relative;
}
.accordion-sidepanel .rowside header {
	cursor: pointer;
	margin-bottom: 0;
	border-bottom: none;
	box-shadow: none;
}
.accordion-sidepanel .rowside header:before {
	position: absolute;
	right: 20px;
	top: 50%;
	width: 15px;
	height: 15px;
	margin-top: -7px;
	content: "";
	background: url(../images/admin/bg-btnplus.png) repeat left top;
}
.accordion-sidepanel .rowside header.active:before {
	background: url(../images/admin/bg-btnminus.png) no-repeat left center;
}
.accordion-sidepanel .rowside {
	margin-bottom: 0;
}
.accordion-sidepanel .rowside:last-child {
	border-bottom: 1px solid #ccc;
}
.accordion-sidepanel .rowside .innertext {
	padding-top: 15px;
	border-top: 1px solid #ccc;
}
.rowside header h4 {
	margin-bottom: 0;
	text-align: left;
	padding-left: 20px;
	font-size: 12px !important;
	color: #333;
	text-transform: uppercase;
}
.switcher-inn p{
	color: #999999;
}
.rowside h5 {
	margin-bottom: 12px;
	font-size: 11px !important;
	color: #333;
	text-transform: uppercase;
}
.rowside h6,
.rowside h5,
.rowside h4,
.rowside span,
.rowside p{
	font-family: 'Open Sans', sans-serif;
}
.rowside h6 {
	margin-bottom: 6px;
	font-size: 12px !important;
	color: #515151;
	font-weight: 300;
}
aside.rowside:last-child {
	margin: 0;
	padding: 0;
	border: none;
}
.rowside h4 {
	color: #515151;
	margin-bottom: 8px;
}
.layoutoption {
	float: left;
	width: 100%;
	margin-bottom: 14px;
}
.layoutoption li {
	float: left;
	display: inline;
	width: 49%;
	height: 105px;
	overflow: hidden;
	margin: 0px 1px 1px 0px;
	position: relative;
	text-align: center;
}
.layoutoption li label {
	display: inline-block;
	float: none;
	cursor: pointer;
	position: relative;
	width: 100%;
	height: 105px;
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
	border-radius: 1px;
	background-color: #dfdfdf;
	padding: 8px 0px;
	transition:all 0.3s ease-in-out;
	  -moz-transition:all 0.3s ease-in-out;
	   -o-transition:all 0.3s ease-in-out;
	    -webkit-transition:all 0.3s ease-in-out;
}
.layoutoption li label.active{
	color: #00a8ff;
	border-top: 3px solid #00a8ff;
}
.layoutoption li label.active i{
	color: #666;
}
.layoutoption li label span{
	font-size: 11px;
	color: #666;
	text-transform: uppercase;
}
.layoutoption li label i{
	position: absolute;
	left: 50%;
	top: 50%;
	color: #666;
	margin: -13px 0px 0px -20px;
	font-size: 40px;
}
.layoutoption li label input {
	width: 0;
	opacity: 0;
	height: 0;
	border: none;
	cursor: pointer;
	position: absolute;
}
label.headeroptions {
	float: left;
	border: 1px solid #ccc;
	box-shadow: 0 0 0 3px #fff;
	background: #fff;
	width: 100%;
	color: #cbcbcb;
	border-radius: 0;
	outline: none;
	color: #9d9d9d;
	position: relative;
	margin-bottom: 10px;
}
label.headeroptions:before {
	content: "";
	width: 33px;
	height: 100%;
	font-weight: bold;
	position: absolute;
	right: 0;
	text-align: center;
	line-height: 33px;
	background: #fff;
	display: block;
	border-left: 1px solid #d6d6d6;
}
label.headeroptions:after {
	content: "";
	position: absolute;
	right: 14px;
	top: 50%;
	margin-top: -2px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 6px 3px 0 3px;
	border-color: #929292 transparent transparent transparent;
}
label.headeroptions select {
	padding: 6px;
	margin: 0;
	background: #fff;
	color: #888;
	border: none;
	outline: none;
	height: auto !important;
	width: 100%;
	display: inline-block;
	cursor: pointer;
}
#backgroundcolor {
	float: left;
	width: 122px;
	border-radius: 4px;
	height: 20px;
	border: 1px solid #dcdcdc;
	background: #fff;
	position: relative;
	z-index: 100;
	margin-bottom: 12px;
}
#backgroundcolor input.color-input {
	float: left;
	width: 70px;
	border: none;
	font-size: 10px;
	color: #cbcbcb;
	height: 16px;
	background: none;
	padding: 2px 10px;
}
#backgroundcolor input.excolor_clrbox {
	float: right;
	height: 16px;
	width: 16px;
	border: 2px solid #fafafa !important;
	box-shadow: 0 0 2px rgba(0,0,0,0.4);
	border-radius: 0 !important;
}
#backgroundcolor span {
	width: 100%;
	padding: 0;
	float: left;
}
.itemstyles {
	float: left;
	width: 100%;
	position: relative;
	z-index: 10;
}
.itemstyles li {
	float: left;
	width: 32px;
	margin: 0px 0px 2px 2px;
	height: 32px;
}
.itemstyles li label, #backgroundimages li label {
	display: block;
	float: left;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 10;
	margin: 0 !important;
	cursor: pointer;
	border: 1px solid #c3c4c6;
}
.itemstyles li label img, #backgroundimages li label img {
	float: left;
	width: 100%;
}
.itemstyles li label input, #backgroundimages li label input {
	width: 0;
	cursor: pointer;
	opacity: 0;
}
.itemstyles li:hover label, .itemstyles li label.active {
	z-index: 15;
	border: 2px solid #00a8ff;
	transform: scale(1.1);
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
#backgroundimages li:hover label, #backgroundimages li label.active {
	z-index: 15;
	border: 2px solid #00a8ff;
	transform: scale(1.1);
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
#backgroundimages {
	float: left;
	width: 100%;
}
#backgroundimages li {
	float: left;
	padding-bottom: 2px;
	padding-right: 2px;
	width: 52px;
	height: 32px;
}
#backgroundimages li label {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #fff;
}
#backgroundimages li label input {
	position: absolute;
	left: 0;
	top: 0;
}
#togglebutton {
	display: block;
	float: right;
	width: 41px;
	height: 46px;
	background: #f6f6f6;
	border-radius: 0px 4px 4px 0px;
	position: absolute;
	right: -38px;
	top: 50%;
	margin-top: -20px;
	cursor: pointer;
	font-size: 20px;
	z-index: 40;
	box-shadow: 5px 0 4px rgba(0,0,0,0.3);
}
#togglebutton:before{
	content: "\f013";
	font-family: FontAwesome;
	color: #666;
	position: absolute;
	left: 10px;
	top: 12px;
	-webkit-animation: spin 5s infinite linear;
	 -moz-animation: spin 5s infinite linear;
	  -o-animation: spin 5s infinite linear;
	   animation: spin 5s infinite linear;
}
#togglebutton.btnclose:before {
	content: "\f00d";
	font-family: FontAwesome;
	-webkit-animation: none;
	 -moz-animation: none;
	  -o-animation: none;
	   animation: none;
}
input.btnapplystyle {
	float: right;
	margin-right: 20px;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 11px;
	font-weight: 300;
	cursor: pointer;
	margin-top: 20px;
	vertical-align: middle;
}
input.bg_color {
	float: left;
	margin: 0 !important;
	padding: 0 !important;
	height: 22px !important;
	width: 40px !important;
	top: 0px;
	border-radius: 4px;
	font-size: 11px;
	position: relative;
}
input.button-small {
	background: #d1d1d1 !important;
	height: 20px;
	margin: 0 0 0 4px !important;
	padding: 0 !important;
	width: 40px;
	font-size: 10px;
	border-radius: 4px;
}
#sidebar .wp-color-result {
	margin: 0;
	width: 22px;
	box-shadow: none;
	height: 22px;
	padding: 0;
	border-radius: 0 0px 0px 0;
	background-clip: content-box;
	top: 3px;
	background-image: url(../images/admin/bg-colorpicker-pix.png);
}
#sidebar .wp-color-result:after {
	display: none;
}
#sidebar input.bg_color {
	display: none !important;
	float: left;
	width: 81px !important;
	height: 20px !important;
	padding: 0 10px !important;
	margin: 0;
	border-right: 0;
	box-shadow: none;
	color: #cbcbcb;
	border-radius: 4px 0px 0px 4px;
	border: 1px solid #dcdcdc;
}
#sidebar .wp-picker-clear {
	display: none !important;
}
#sidebar .wp-picker-open + .wp-picker-input-wrap {
	display: inline!important;
}
#sidebar .wp-picker-container {
	position: relative;
	float: right;
}
#sidebar .wp-picker-holder {
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 99999;
}
#themecolor, #headingcolor {
	display: block;
	float: left;
	width: 100%;
	margin-bottom: 15px;
	height: 48px;
	padding: 8px;
	border-radius: 4px 4px 4px 4px;
	background: #1C1C1C;
	border: 1px solid #333;
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
	position: relative;
}
#themecolor:after, #themecolor:before, #headingcolor:after, #headingcolor:before {
	content: '';
	display: block;
	position: absolute;
	right: 10px;
	top: 13px;
	width: 25px;
	height: 25px;
	z-index: 999;
}
#themecolor:after, #headingcolor:after {
	right: auto;
	left: 10px;
}
#themecolor img, #headingcolor img {
	float: left;
}
#themecolor h5, #headingcolor h5 {
	float: left;
	margin: 0 !important;
	line-height: 32px;
	padding: 0 10px;
}
.innertext {
	float: left;
	width: 100%;
	padding: 0px 20px;
	padding-bottom: 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left;
}
.buttonarea {
	float: left;
	width: 100%;
	text-align: center;
	margin: 20px 0;
}
.buttonarea .btn {
	float: none;
	width: 92px;
	height: 38px;
	background: #00a8ff;
	font-weight: 600;
	font-size: 11px;
	color: #fff;
	margin: 0 4px;
	cursor: pointer;
	border: none;
	display: inline-block;
	vertical-align: top;
	transition:all 0.3s ease-in-out;
	 -moz-transition:all 0.3s ease-in-out;
	  -o-transition:all 0.3s ease-in-out;
	   -webkit-transition:all 0.3s ease-in-out;
}
.buttonarea .btn:hover {
	background: #333;
}
/* color switcher end */

/*
=-=--==-=-=----=-=-=-=-=-=-=-=-
Color Pickers
=-=--==-=-=----=-=-=-=-=-=-=-=-
*/
#colorpickerwrapp {
	display: inline-block;
	float: none;
	height: 30px;
	margin: 0 0 14px;
}
#colorpickerwrapp span {
	float: left;
	width: 15px;
	height: 100%;
	cursor: pointer;
	position: relative;
	-webkit-transition: all .25s linear;
	-moz-transition: all .25s linear;
	-ms-transition: all .25s linear;
	-o-transition: all .25s linear;
	transition: all .25s linear;
}
.iconfa-unlock .accordion-sidepanel{
	display: none;
}
#colorpickerwrapp span.active {
	width: 13px;
}
#colorpickerwrapp span:before {
	display: block;
	content: "";
	width: 100%;
	height: 50%;
	background: #000;
	opacity: 0.2;
	position: absolute;
	left: 0;
	bottom: 0;
}
.cs-other-switch {
	list-style: none;
}
.cs-other-switch li {
	width: 100%;
	overflow: hidden;
	padding: 0px 20px;
	margin: 0px 0px 15px 0px;
	list-style: none;
}
.cs-other-switch li p {
	float: left;
	margin: 3px 0px 0px 0px;
}
#color_switcher .cs-other-switch li label {
	margin: 0px;
}
.cs-other-switch li label {
	float: right;
	padding: 6px 20px 0 16px;
	position: relative;
	cursor: pointer;
}
.cs-on-off span:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	display: block;
	float: left;
	width: 100%;
	height: 100%;
	background-color: #aaa;
	border-radius: 40px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	z-index: 2;
}
.cs-on-off span:after {
	content: '';
	background-color: #ffffff;
	display: inline-block;
	height: 22px;
	position: absolute;
	left: 3px;
	top: 3px;
	width: 22px;
	z-index: 10;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	-ms-transition: all .15s linear;
	-o-transition: all .15s linear;
	transition: all .15s linear;
}
.cs-on-off span {
	display: block;
	float: left;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.cs-on-off input:checked ~ span:before {
	background-color: #15a5ec;
}
.cs-on-off input:checked ~ span:after {
	left: 24px;
}
.cs-on-off input {
	left: -600px;
	position: relative;
}
.innertext span {
    float: left;
    padding: 0 0 13px 0px;
    width: 100%;
    color: #666666;
    font-size: 11px;
}