/* Browser Resets */
.widget .flexslider {
	float: left;
	width: 100%;
}
.flexslider figure,.flexslider article {
	margin-bottom: 0 !important;
}

.flexslider figure {
	margin-bottom: 0 !important;
	float: left;
	width: 100%;
}
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0px 0px 20px 0px; padding: 0;float: left;width: 100%;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {   position: relative;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */

.flex-direction-nav {
	float: left;
	width: 100%;
	position: absolute;
	left: 0;
	text-align: center;
	top: 50%;
	height: 1px;
	z-index: 999;
	display: none;
}
.flex-direction-nav li {
	display: inline-block;
	vertical-align: top;
	margin: 0 6px;
	
}
.flex-direction-nav li a {
    font-size: 20px;
    line-height: 32px;
    position: absolute;
    top: 0;
    margin-top: -16px;
    box-shadow: none;
    display: block;
    color: #fff;
    background: rgba(0,0,0,0.8);
    height: 32px;
    overflow: hidden;
    transition: all 0.1s linear 0s;
    width: 32px;
}
.flex-direction-nav li a.flex-prev {
	left: -0px;
}
.flex-direction-nav li a.flex-next {
	right: -0px;

}

article .flexslider .flex-direction-nav li {
	color: #fff;
	font-size: 14px;
	text-shadow: 1px 1px 1px #000;
}
article .flexslider .flex-direction-nav li a {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #fff;
}

article .flexslider .flex-direction-nav li a em {
	color: #fff;
}
.count-slide {
	line-height: 28px;
}
.slide-number {
	font-size: 20px;
	font-weight: 600;
}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;filter:alpha(opacity=100);}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;display: none;}
.flex-control-nav li {margin: 0 3px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #ccc; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover {}
.flex-control-paging li a.flex-active {  cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;filter:alpha(opacity=100);}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;filter:alpha(opacity=100);}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;filter:alpha(opacity=100);}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;filter:alpha(opacity=100);}
}
